@font-face {
    font-family: "Gilroy-Extrabold";
    src: url("./fonts/Gilroy-Extrabold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("./fonts/OpenSans-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("./fonts/OpenSans-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Raleway-Black";
    src: url("./fonts/Raleway-Black.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("./fonts/Raleway-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("./fonts/Raleway-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Raleway-Thin";
    src: url("./fonts/Raleway-Thin.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Storytella";
    src: url("./fonts/Storytella.ttf");
    font-display: swap;
}
