/* https://colorscheme.ru/color-names.html */
$color-white: #fff;
$color-mustard: #fcdb5a;
$color-amarant: #db2985;
$color-dark-y-g: #72aa41;
$color-orange-yellow: #F2A137;
$color-sapphire-blue: #19222C;
$color-turquoise: #4FB1C9;
$color-signal-black: #333333;
$color-light-gray: #b3b3b3;
$color-smoky-white: #f9f9f9;
$color-blackish-red: #241610;
$color-chamois: #9a8841;
$color-yellow-ivory: #ddc051;
$color-white-aluminum: #aaaaaa;
$color-light-greenish-yellow: #FDE557;
$color-silver: #C4C4C4;
$color-wet-asphalt: #535353;
$color-hr-footer: #464646;
$color-gray: #7E7E7E;
$color-dark-gray: #1b1b1b;

$color-black-a7: rgba(0, 0, 0, .7);
$color-black-a05: rgba(0, 0, 0, .05);
