@include font("Gilroy-Extrabold", "Gilroy-Extrabold", "800", "normal");
@include font("OpenSans-Regular", "OpenSans-Regular", "400", "normal");
@include font("OpenSans-Light", "OpenSans-Light", "300", "normal");
@include font("Raleway-Thin", "Raleway-Thin", "100", "normal");
@include font("Raleway-Regular", "Raleway-Regular", "400", "normal");
@include font("Storytella", "Storytella", "400", "normal");
@include font("Raleway-Bold", "Raleway-Bold", "700", "normal");
@include font("Raleway-Black", "Raleway-Black", "900", "normal");

$font-open-sr: OpenSans-Regular, Arial, Helvetica, sans-serif;
$font-raleway-bold: Raleway-Bold, Arial, Helvetica, sans-serif;
$font-storytella: Storytella, Arial, Helvetica, sans-serif;