@media all and (max-width: 1099px) {
    .footer__map {
        display: none;
    }

    .triptych {
        &__images img {
            max-width: 100%;
        }

        &__gradient {
            left: calc(50% - 160px);
        }

        &__wood-top {
            left: calc(50% - 130px);
        }
    }

    .title {
        &__triptych {
            right: calc(50% - 290px);
        }
    }

    .header {
        &__menu-item {
            margin-left: 20px;
        }
    }

    .progress {
        &__wr-icons-row {
            flex-flow: wrap;
            text-align: center;
            width: 480px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .footer {
        &__logo {
            margin-right: 10px;
        }

        &-menu {
            margin-right: 35px;
        }

        &__wr-email {
            padding-bottom: 30px;
        }

        &__wr-contacts {
            flex-flow: column;
        }

        &_wr-copyright {
            flex-flow: column;
        }

        &__copyright {
            padding-bottom: 20px;
        }
    }

    .perfect-food {
        &__content {
            overflow: hidden;
            padding: 15px;
            text-overflow: clip;
        }

        &__table-title {
            font-size: 16px;
        }

        &__table-subtitle {
            font-size: 12px;
        }
    }

    .tasty {
        &__logo {
            right: 0;
        }

        &-food {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 340px);
        }
    }

    .posts {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 330px;

        &__wr-title {
            left: 15px;
        }
    }

    .services {
        &__wr-icons-row {
            flex-flow: wrap;
            margin: 60px auto 0;
            width: 430px;
        }
    }
}

@media all and (max-width: 767px) {
    .products {
        &__title {
            font-size: 120px;
            padding-top: 200px;
        }

        &__bg {
            padding-bottom: 300px;
        }

        &__list {
            display: none;
        }
    }

    .title {
        &__triptych {
            width: 270px;
            right: calc(50% - 150px);
            line-height: 80px;
            font-size: 60px;
        }
    }

    .triptych {
        &__images {
            margin-bottom: 250px;
        }
    }

    .services {
        &__wr-icons-row {
            width: 280px;
        }
    }

    .perfect-food__grid-table {
        grid-template-columns: repeat(4, 100%);
        overflow-x: auto;
    }

    .progress {
        &__wr-icons-row {
            margin-top: 40px;
            width: 190px;
        }
    }

    .slider-box {
        padding-left: 0;

        &__person-about {
            margin-top: 15px;
        }
    }

    .about {
        &__image {
            display: none;
        }

        &__text {
            font-size: 16px;
            height: 130px;
            line-height: 22px;
            padding: 0;
        }
    }

    .tasty {
        display: none;

        &-food {
            grid-template-rows: repeat(4,250px);
        }
    }

    .footer {
        &__logo {
            display: none;
        }
    }

    .container {
        &_footer {
            margin: 0 15px;
        }
    }

    .posts {
        row-gap: 30px;
        grid-template-columns: 1fr;
    }
}