.container {
    max-width: 1200px; /*первоначальный 1170 и накинули по 15пикс с двух сторон, чтобы не прилипал*/
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    &_header {
        display: flex;
        position: relative;
    }
}

.footer__container {
    max-width: 675px;
    width: 100%;
    margin-left: 175px;
    margin-right: 60px;
    padding-top: 75px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.right-gutter {
    margin-right: 15px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

