.svg-cakes-organic-dims { width: 235px; height: 235px; }
.svg-ico-fb-dims { width: 9px; height: 17px; }
.svg-ico-lin-dims { width: 17px; height: 17px; }
.svg-ico-twitter-dims { width: 23px; height: 16px; }
.svg-logo-emporium-dims { width: 247px; height: 167px; }
.svg-logo-ex-agro-dims { width: 59px; height: 69px; }
.svg-logo-farm-dims { width: 145px; height: 183px; }
.svg-logo-farmer-dims { width: 215px; height: 128px; }
.svg-logo-food-dims { width: 310px; height: 185px; }
.svg-logo-organic-dims { width: 145px; height: 160px; }
.svg-prog-cakes-dims { width: 70px; height: 75px; }
.svg-prog-cupcakes-dims { width: 95px; height: 75px; }
.svg-prog-doughnut-dims { width: 70px; height: 75px; }
.svg-prog-muffins-dims { width: 80px; height: 75px; }
.svg-serv-burger-dims { width: 59px; height: 57px; }
.svg-serv-cereals-dims { width: 72px; height: 57px; }
.svg-serv-cupcake-dims { width: 72px; height: 57px; }
.svg-serv-pizza-dims { width: 65px; height: 57px; }
.svg-serv-steak-dims { width: 62px; height: 57px; }
.svg-serv-vegetables-dims { width: 72px; height: 57px; }
