.title {
    font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
    color: $color-signal-black;
    font-size: 40px;
    text-transform: uppercase;

    .title_bold {
        font-family: "Raleway-Black", Arial, Helvetica, sans-serif;
    }

    .title_block {
        display: block;
    }
}

.subtitle {
    max-width: 550px;
    margin: 0 auto;
    font-family: OpenSans-Light, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: $color-light-gray;
    line-height: 25px;
}

.text_align-center {
    text-align: center;
}

.text_color-mustard {
    color: $color-mustard;
}

.text_color-white {
    color: $color-white;
}

.text_color-amarant {
    color: $color-amarant;
}

.text_color-green {
    color: $color-green;
}

.text_color-orange {
    color: $color-orange;
}

.text_color-turquoise {
    color: $color-turquoise;
}
