.section-title {
    font: 40px $font-raleway-thin;
    color: $color-signal-black;
    text-transform: uppercase;

    &_centered {
        text-align: center;
        margin-bottom: 10px;
    }

    &_bold {
        font-family: $font-raleway-black;
    }

    &_two-lines {
        max-width: 300px;
    }

    &_white {
        color: $color-white;
    }
}

.title {
    font: 40px $font-raleway-thin;
    color: $color-signal-black;
    text-transform: uppercase;

    //&_bold {
    //    font-family: $font-raleway-black;
    //}
    //
    //&_block {
    //    display: block;
    //}

    &_bolded {
        font-family: $font-raleway-black;
        display: block;
    }

    &_pushed-right {
        position: absolute;
        right: 175px;
        top: 115px;
        width: 515px;
    }

    &__triptych {
        font: 100px/100px $font-storytella;
        font-weight: 400;

        &_right-indent {
            margin-right: 15px;
        }

    }

    &_color {
        &-mustard {
            color: $color-mustard;
        }

        &-white {
            color: $color-white;
        }

        &-amarant {
            color: $color-amarant;
        }

        &-green {
            color: $color-green;
        }

        &-orange {
            color: $color-orange;
        }

        &-turquoise {
            color: $color-turquoise;
        }

        &_silver {
            color: $color-silver;
        }
    }

    &_product-item {
        bottom: 25px;
        font-size: 30px;
        left: 30px;
        line-height: 30px;
        position: absolute;
    }
}

.subtitle {
    max-width: 550px;
    margin: 0 auto;
    font: 18px $font-open-sl;
    color: $color-light-gray;
    line-height: 25px;

    &_centered {
        text-align: center;
    }

    &_omitted {
        padding-top: 20px;
    }

    &_left-aligned {
        color: $color-dark-silver;
        font: 14px/23px $font-open-sr;
        margin: 0;
        max-width: 550px;
    }
}
