.about {
    background-size: cover;
    background: url("../media/about/bg-about.jpg") top;
    height: 570px;
    padding-top: 140px;

    &__title {
        color: $color-white;
    }

    &__subtitle {
        overflow: hidden;
        text-overflow: clip;
        height: 55px;
        margin-top: 10px;
    }

    &__image {
        float: left;
        margin-right: 10px;
    }

    &__text {
        font:italic 25px/30px $font-times-nr;
        color: $color-white;
        overflow: hidden;
        text-overflow: clip;
        max-width: 985px;
        height: 115px;
        padding: 10px 0 0 35px;
    }

    &__wr-slider-content {
        padding: 50px 0 0 12px;
    }
}