.discover {
    background-image: url("../media/discover/bg-discover.jpg");
    background-position: top;
    background-size: cover;

    &__wr-title {
        padding-bottom: 220px;
        padding-top: 140px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__subtitle {
        color: $color-dark-silver;
        font-family: $font-open-sr;
        font-size: 14px;
        line-height: 23px;
        max-width: 550px;
    }

    &__more {
        background-color: $color-mustard;
        border-radius: 26px;
        border: none;
        color: $color-marsh;
        cursor: pointer;
        font-family: $font-raleway-bold;
        font-size: 12px;
        height: 55px;
        line-height: 20px;
        margin-top: 45px;
        text-transform: uppercase;
        width: 160px;
    }
}
