.discover {
    background-image: url("../media/discover/bg-discover.jpg");
    background-position: top;
    background-size: cover;

    &__more {
        background-color: $color-mustard;
        border-radius: 26px;
        border: none;
        color: $color-marsh;
        cursor: pointer;
        font: 12px/20px $font-raleway-bold;
        height: 55px;
        margin-bottom: 220px;
        margin-top: 45px;
        text-transform: uppercase;
        width: 160px;
    }
}
