.header {
    background: linear-gradient(180deg, $color-black-a7, $color-black-a05);
    border-bottom: 1px solid $color-white-a3;
    height: 110px;
    position: fixed;
    width: 100%;
    z-index: 10;

    &__logo {
        position: absolute;
        top: -25px;
        transition: .7s;

        &:hover {
            top: 0;
        }
    }

    &__navigation {
        margin-left: 100px;
    }

    &__menu {
        display: flex;
        margin: 0;
    }

    &__menu-item {
        border-bottom: 2px transparent solid;
        margin-left: 29px;
        padding: 49px 0 40px;

        &:hover {
            border-color: $color-mustard;
            transition: .7s;
        }
    }

    &__menu-link {
        color: $color-white;
        font-family: $font-open-sr;
        font-size: 14px;
        height: 100%;
        line-height: 20px;
        padding: 50px 0 42px;
    }

    &__regiter {
        background-color: $color-white;
        border-radius: 22px;
        border: none;
        color: $color-dark-gray;
        cursor: pointer;
        font-family: $font-raleway-bold;
        font-size: 12px;
        height: 45px;
        position: absolute;
        right: 15px;
        text-transform: uppercase;
        top: 37px;
        width: 155px;
    }
}
