.header {
    background: linear-gradient(180deg, $color-black-a7, $color-black-a05);
    border-bottom: 1px solid $color-white-a3;
    height: 110px;
    position: fixed;
    width: 100%;
    z-index: 10;

    &__logo {
        position: absolute;
        top: -25px;
        transition: .7s;

        &:hover {
            top: 0;
        }
    }

    &__navigation {
        margin-left: 100px;
    }

    &__menu {
        display: flex;
        margin: 0;
    }

    &__menu-item {
        border-bottom: 2px transparent solid;
        margin-left: 29px;
        padding: 49px 0 40px;

        &:hover {
            border-color: $color-mustard;
            transition: .7s;
        }
    }

    &__menu-link {
        color: $color-white;
        font: 14px/20px $font-open-sr;
        height: 100%;
        padding: 50px 0 42px;
    }

    &__regiter {
        background-color: $color-white;
        border-radius: 22px;
        border: none;
        color: $color-dark-gray;
        cursor: pointer;
        font: 12px $font-raleway-bold;
        height: 45px;
        position: absolute;
        right: 15px;
        text-transform: uppercase;
        top: 37px;
        width: 155px;
    }
}

#mobile-menu__toggle {
    opacity: 0;
    &:checked {
        ~ {
            .mobile-menu__btn {
                >span {
                    transform: rotate(45deg);
                    &::before {
                        top: 0;
                        transform: rotate(0);
                    }
                    &::after {
                        top: 0;
                        transform: rotate(90deg);
                    }
                }
            }
            .mobile-menu__box {
                left: 0;
                visibility: visible;
            }
        }
    }
}

.mobile-menu {
    &__btn {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 27px;
        position: fixed;
        right: 35px;
        top: 45px;
        width: 32px;
        z-index: 1;
    }

    &__btn > span,
    &__btn > span::before,
    &__btn > span::after {
        background-color: $color-white;
        display: block;
        height: 2px;
        position: absolute;
        transition-duration: .25s;
        width: 100%;
    }

    &__btn > span::before {
        content: '';
        top: -8px;
    }

    &__btn > span::after {
        content: '';
        top: 8px;
    }

    &__box {
        background-color: $color-black-a9;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        display: block;
        height: 100%;
        left: -100%;
        list-style: none;
        margin: 0;
        padding: 80px 0;
        position: fixed;
        top: 0;
        transition-duration: .25s;
        visibility: hidden;
        width: 300px;
    }

    &__item {
        color: $color-white;
        display: block;
        font-family: $font-raleway-bold;
        font-size: 20px;
        font-weight: 600;
        padding: 12px 24px;
        text-decoration: none;
        transition-duration: .25s;

        &:hover {
            background-color: $color-white-a3;
        }
    }
}
