.organic-food {
  position: relative;

  .organic-food__bg {
    height: 1630px; /* @todo: think about dynamic height*/
    background-image: url("../media/bg-organic-food.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 77%,0 100%);
  }

  .organic-food__wr-title {
    max-width: 520px;
    position: absolute;
    top: 170px;
  }

  .organic-food__title {
    font-family: Storytella, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: $color-white;
    font-size: 200px;
    line-height: 200px;
  }

  .organic-food__wr-products {
    position: absolute;
    bottom: 105px;
    width: 100%;
  }

  .organic-food__products {
    display: grid;
    grid-template-rows: 310px 370px;
    grid-template-columns: [left-gutter] 1fr 380px 385px 115px 500px [right-gutter] 1fr;
  }
  
  .organic-food__item {
    background-size: contain; 
    cursor: pointer;
    position: relative; 
  }

  .organic-food__sweets {
    grid-row: 1/3;
    grid-column: 2/3;
    background: url("../media/awesome-products/ap-muffins.jpg") no-repeat;
  }

  .organic-food__food {
    grid-row: 1/2;
    grid-column: 3/5;
    background: url("../media/awesome-products/ap-salad.jpg") no-repeat;
  }

  .organic-food__meat {
    grid-row: 1/2;
    grid-column: 5/6;
    background: url("../media/awesome-products/ap-meat.jpg") no-repeat;
  }

  .organic-food__fruts {
    grid-row: 2/3;
    grid-column: 4/6;
    background: url("../media/awesome-products/ap-berries.jpg") no-repeat;
  }

  .organic-food__agro {
    grid-row: 2/3;
    grid-column: 3/4;
    position: relative;
    padding-top: 80px;
    padding-left: 90px;
    width: 215px;
  }

  .organic-food__shadow {
    background: linear-gradient(0deg, $color-black-a7, $color-black-a05);
    height: 100%;
  }

  .organic-food__product-title {
    position: absolute;
    bottom: 25px;
    left: 30px;
    line-height: 30px;
    font-size: 30px;
  }
}
