.perfect {
    height: 695px;
    margin-top: 120px;
    background-image: url("../media/perfect/bg-perfect.jpg");
    background-size: cover;
    background-position: top;
       
    .perfect__wr-title {
        padding-top: 140px;
    }

    .perfect__title {
        margin-bottom: 20px;
    }
    
    .perfect__subtitle {
        max-width: 550px;
        font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: $color-dark-silver;
        line-height: 23px;
    }

    .perfect__call-to-action {
        margin-top: 45px;
        height: 55px;
        width: 160px;
        border-radius: 26px;
        border: none;
        background-color: $color-mustard;
        font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
        color: $color-marsh;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        cursor: pointer;
    }
}
