.perfect-food {
    margin-top: 0;
    background-color: $color-smoky-white;

    .perfect-food__grid-table {
        display: grid;
        grid-template-rows: repeat(2, 220px);
        grid-template-columns: repeat(4, 1fr);
        cursor: pointer;
        position: relative;
        top: -115px;
        z-index: 5;
    }

    .perfect-food__bg-superfood {
        grid-row: 1/2;
        grid-column: 1/2;
        background-image: url("../media/perfect/sandwiches.jpg");
        background-size: cover;
        background-position: top;
    }

    .perfect-food__bg-grunt {
        grid-row: 1/2;
        grid-column: 3/4;
        background-image: url("../media/perfect/breakfast.jpg");
        background-size: cover;
        background-position: top;
    }
    
    .perfect-food__bg-benefit {
        grid-row: 2/3;
        grid-column: 2/3;
        background-image: url("../media/perfect/pancakes.jpg");
        background-size: cover;
        background-position: top;
    }

    .perfect-food__bg-tips {
        grid-row: 2/3;
        grid-column: 4/5;
        background-image: url("../media/perfect/yogurt.jpg");
        background-size: cover;
        background-position: top;
    }

    .wr-content {
        background-color: $color-white;
        padding: 25px 35px;
    }

    .perfect-food__table-title {
        font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
        color: $color-signal-black;
        font-size: 18px;
        line-height: 23px;
    }

    .perfect-food__table-subtitle {
        font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
        color: $color-light-black;
        font-size: 14px;
        line-height: 23px;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: clip;
        height: 65px;
    }

    .perfect-food__benefit {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .perfect-food__tips {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    .perfect-food__superfood {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .perfect-food__grunt {
        grid-row: 2/3;
        grid-column: 3/4;
    }
}