.progress {
    &__wr-title {
        margin-bottom: 70px;
        margin-top: 140px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__wr-icons-row {
        display: flex;
        justify-content: space-between;
    }

    &__icons-row {
        display: flex;
    }

    &__icon {
        margin-right: 20px;
    }

    &__icon-counter {
        color: $color-dark-brown;
        font: 50px/50px $font-gilroy-eb;
    }

    &__icon-title {
        color: $color-light-graphite;
        font: 16px/50px $font-raleway-bold;
    }
}
