.progress {
    .progress__wr-title {
        margin-top: 140px;
        margin-bottom: 70px;
    } 

    .progress__title {
        margin-bottom: 10px;
    }

    .progress__wr-icons-row {
        display: flex;
        justify-content: space-between;
    }

    .progress__icons-row {
        display: flex;
    }

    .progress__icon {
         margin-right: 20px;
    }

    .progress__icon-counter {
        font-family: Gilroy-Extrabold, Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: $color-dark-brown;
        line-height: 50px;
    }

    .progress__icon-title {
        font-family: $font-raleway-bold;
        font-size: 16px;
        color: $color-light-graphite;
        line-height: 50px;
    }
}
