.tasty {
    background: $color-smoky-white url("../media/bg-tasty-cakes.png") bottom right no-repeat;
    position: relative;

    &__logo {
        position: absolute;
        right: 310px;
        top: 45px;
    }

    &__title {
        color: $color-light-mocco;
        font: 230px/180px $font-storytella;
        max-width: 430px;
        padding: 160px 0 195px;
    }
}
