.tasty {
    background: $color-smoky-white url("../media/bg-tasty-cakes.png") bottom right no-repeat;
    position: relative;

    &__logo {
        position: absolute;
        right: 310px;
        top: 45px;
    }

    &__title {
        color: $color-light-mocco;
        font-family: $font-storytella;
        font-size: 230px;
        line-height: 180px;
        max-width: 430px;
        padding: 160px 0 195px;
        z-index: 5;
    }
}
