.triptych {
    padding-top: 90px;
    position: relative;

    &__images {
        position: relative;
    }

    &__gradient {
        left: 425px;
        position: absolute;
        top: -35px;
    }

    &__wood-top {
        left: 460px;
        position: absolute;
        top: -15px;
    }

    &__text {
        font: 100px/100px $font-storytella;
        font-weight: 400;
        position: absolute;
        right: 175px;
        top: 115px;
        width: 515px;
    }
}
