.triptych {
    padding-top: 90px;
    position: relative;

    &__images {
        position: relative;
    }

    &__gradient {
        left: 425px;
        position: absolute;
        top: -35px;
    }

    &__wood-top {
        left: 460px;
        position: absolute;
        top: -15px;
    }
}
