.triptych {
    padding-top: 90px;
    position: relative;

    &__images {
        position: relative;
    }

    &__gradient {
        left: 425px;
        position: absolute;
        top: -35px;
    }

    &__wood-top {
        left: 460px;
        position: absolute;
        top: -15px;
    }

    &__text {
        font-family: $font-storytella;
        font-size: 100px;
        font-weight: 400;
        line-height: 100px;
        position: absolute;
        right: 175px;
        top: 115px;
        width: 515px;
    }
}
